.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  position: relative;
  background: white;
  padding: 14px;
  border-radius: 6px;
}

.popup-img {
  width: 500px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out, transform 0.2s;
}
.close-icon:hover {
  opacity: 1;
  transform: scale(1.07);
}
.galery-container {
  max-width: 498px;
}

.galery-container img {
  max-width: 18px;
}
